body
{
	/*background:#607B8B;
	background-repeat:repeat-y;
	clear:both;*/
	/*text-align:center;*/
    margin:0;
}
*html body
{
	/*background:#607B8B;
	background-repeat:repeat-y;
	clear:both;*/
    /*text-align:center;*/
}
.main_style
{
	width:100%;
    min-width:900px;
	min-height:1024px;
	height:auto;
	margin:0 auto;
	position:relative;
}
*html .main_style
{
    height:expression((document.documentElement.clientHeight||document.body.clientHeight)<700?"700px":"");
    width:expression((document.documentElement.clientWidth||document.body.clientWidth)<900?"900px":""); 
	margin:0 auto;
	position:relative;
}
#navtop
{
    width:100%;
    height:124px;
    background:url("../images/topbg.jpg") repeat-x scroll center top;
    /*margin: 0 auto;*/
   /* position:relative;*/
   /* clear:both;*/
    overflow:hidden;
}
.topbar
{
	width:1000px;
	height:124px;
	position:relative;
	margin:0 auto;
	top:-50%;
	
}
.navname
{
    width:250px;
    height:100px;
   /*margin:0 auto;*/
    position:absolute;
    display:block;
    float:left;
    margin-top:60px;
    background:url("../images/name.png") no-repeat;
}
*html .navname
{
    width:250px;
    height:100px;
    position:absolute;
    display:block;
    float:left;
    margin-top:60px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='../images/name.png'); 
}
.mottodiv
{
    height:40px;
    width:800px;
    margin-top:130px;
    margin-left:6%;
    position:absolute;
}
*html .mottodiv
{
    height:40px;
    width:800px;
    margin-top:160px;
    margin-left:6%;
    position:absolute;
}
.motto
{
    font-size:16px;
    color:white;
    position:relative;
}
.timeline
{
	height: 110px;
    /*margin-left: 6%;*/
    margin-top: 70px;
    position: absolute;
    width: 450px;
    right:0px;
}
.timename
{
	height:30px;
	width:100px;
	font-size:20px;
	font-style:italic;
	color:white;
	position:absolute;
}
.timecontent
{
	height:80px;
	width:450px;
	position:absolute;
	margin-top:8px;
	top:20px;
	left:0px;
	color:white;
	font-size:16px;
	overflow:hidden;
	border:1px dotted #7D7D7D;
}
#navlayer
{
	width:100%;
	height:70px;
    background:url("../images/menubg.jpg") repeat-x scroll center top;
	/*margin:0;*/
	/*background:#FAFAFA;*/
    text-align:center;
}
*html #navlayer
{
	width:100%;
	height:70px;
    text-align:center;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='../images/menubg.jpg'); 
	/*margin:auto;*/
	/*background:#FAFAFA;*/
}
.menudiv
{
	width:900px;
	height:70px;
	margin: 0 auto;
	position:relative;
}
.space
{
    height:70px;
    width:2px;
    float:left;
    background:url("../images/menuspace.gif") repeat-y;
}
.navbardiv
{
    height:70px;
    width:222px;
    float:left;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
}
*html .navbardiv
{
    height:70px;
    width:222px;
    float:left;
    position:relative;
    /*margin-top:25px;*/
    text-align:center;
    cursor:pointer;
}
.navbtn
{
    font-size:20px;
    color:white;
    position:relative;
    margin-top:25px;
}
/*.prsphoto
{
	width:80px;
	height:80px;
	background:url("../images/photo.png");
	position:absolute;
	margin-top:4%;
	left:5%;
}
*html .prsphoto
{
	width:80px;
	height:80px;
	float:left;
	margin-top:-80px;
	left:5%;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='images/photo.png'); 
}*/
/*.usernamediv
{
	width:160px;
	height:60px;
	position:absolute;
	top:1%;
	left:15%;
    background:url("../images/name.png");
}
*html .usernamediv
{
	width:160px;
	height:60px;
	top:15px;
	left:15%;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/name.png'); 
    
}*/
/*.username
{
	height:60px;
	width:160px;
}
*html .username
{
	height:60px;
	width:160px;
}*/
/*.navbar
{
	width:40%;
	height:60px;
	background:#AEEEEE;
	float:right;
	margin-top:20px;
	
}*/
/**html .navbar
{
	width:40%;
	height:60px;
	background:#AEEEEE;
	float:right;
	margin-top:20px;
	
}*/
/*.homebtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:10px;
	background:url("../images/home.png");
    cursor:pointer;
}
*html .homebtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:5px;
    cursor:pointer;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/home.png'); 
    
}
.blogbtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
    cursor:pointer;
	background:url("../images/blog.png");
}
*html .blogbtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
    cursor:pointer;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/blog.png'); 
}
.happybtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
    cursor:pointer;
	background:url("../images/happy.png");
}
*html .happybtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
    cursor:pointer;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/happy.png'); 
}*/
.btnover
{
    border: 2px solid;
    background:#CCCCCC;
}
.btnclick
{
    border: 2px solid #CD6839;
    background:#BDBDBD;
}

/*.photobtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
    cursor:pointer;
	background:url("../images/photobtn.png");
}
*html .photobtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
    cursor:pointer;
    
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/photobtn.png'); 
}*/
/*.navbottom
{
	width:100%;
	height:30px;
	float:left;
	background:#666666;
	margin-top:5px;
	border:3px solid #555555;
}
*html .navbottom
{
	width:800px;
	height:30px;
	float:left;
	background:#666666;
	margin-top:5px;
	border:3px solid #555555;
}*/
/*div#navlayer p
{
	position:absolute;
	font-size:20px;
	margin-left:30%;
	color:red;
}*/
#photolayer
{
	width:100%;
	min-height:450px;
	position:relative;
	background:url("../images/photobg.jpg");
}
*html #photolayer
{
	width:100%;
	/*min-height:450px;*/
	position:relative;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='../images/photobg.jpg'); 
    height:expression((document.documentElement.clientHeight||document.body.clientHeight)<450?"450px":"");	
}
.photodiv
{
	width:900px;
	height:450px;
	margin: 0 auto;
	position:relative;
}
.photoleft
{
	width:300px;
	height:300px;
	position:absolute;
	z-index:3;
	top:60px;
	left:30px;
	cursor:pointer;
	background:url("../images/h1.png");
}
.photomid
{
	width:300px;
	height:300px;
	z-index:4;
	top:120px;
	left:300px;
	position:absolute;
	cursor:pointer;
	/*border-top:10px solid #483D8B;
	border-bottom:10px solid #483D8B;*/
	background:url("../images/h2.png");
}
*html .photomid
{
	width:300px;
	height:300px;
	z-index:4;
	top:120px;
	left:300px;
	position:absolute;
	cursor:pointer;	
	/*border-top:10px solid #483D8B;
	border-bottom:10px solid #483D8B;*/
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/h2.png'); 
}
/*.midimg
{
    width:600px;
    height:280px;
    float:center;
}
*html .midimg
{
    width:600px;
    height:280px;
    float:center;
}*/

.photoright
{
	width:300px;
	height:300px;
	left:540px;
	top:60px;
	left:570px;
	position:absolute;
	z-index:3;
	cursor:pointer;
	background:url("../images/h3.png");
}
div#bloglayer
{
	width:100%;
	min-height:600px;
	margin-top:-20px;
	z-index:1;
	position:relative;
    float:left;
	background:url("../images/contentbg.jpg");
}
*html div#bloglayer
{
	width:100%;
	min-height:600px;
	margin-top:-10px;
	z-index:1;
	position:relative;
    float:left;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/contentbg.jpg');     
}
.blogdiv
{
	width:900px;
	min-height:600px;
	height:auto;
	margin: 0 auto;
	display:block;
	position:relative;
}
.blogcontent
{
	width:100%;
	min-height:200px;
	position:relative;
	padding-top:5%;
	padding-bottom:3%;
}
.oneblog
{
	width:100%;
	min-height:200px;
}
.blogtitle
{
	width:100%;
	height:40px;
	position:relative;
    padding-top:10px;
	text-align:center;
	font-size:20px;
}
.titlecontent
{
	font-size:18px;
	color:#8DEEEE;
}
.blogline
{
	width:100%;
	min-height:300px;
	text-align:center;
	position:relative;
	font-size:14px;
	line-height:2;
}
.happyline
{
	width:100%;
	min-height:200px;
	text-align:center;
	position:relative;
	font-size:14px;

}
.linecontent
{
	font-size:14px;
	position:relative;
	
}
/*.bloglist
{
	width:100%;
	height:30px;
	background:#3B3B3B;
	overflow:hidden; 
}
.listname
{
	font-size:18px;
	float:left;
	margin-left:5px;
	margin-top:2px;;
	color:white;
}

*html .blogline
{
	width:100%;
	height:25px;
	text-align:center;
}
*/
#happylayer
{
	width:100%;
	min-height:200px;
	height:auto;
	position:relative;
	float:left;
    margin:0 auto;
	background:url("../images/contentbg.jpg");
}
*html #happylayer
{
	width:100%;
	min-height:200px;
	height:auto;
	position:static;
    margin:0 auto;
    float:left;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='../images/contentbg.jpg'); 
}

.happydiv
{
	width:900px;
	min-height:200px;
	height:auto;
	margin: 0 auto;
	display:block;
    overflow:hidden;
	position:relative;
}
.happyleft
{
	width:420px;
	min-height:200px;
	height:auto;
	float:left;
	position:relative;
	margin-right:20px;
}
 .happyright
 {
	width:420px;
	min-height:200px;
	height:auto;
	float:left;
	position:relative;
	margin-left:20px;
 }
/*.happylist
{
	width:100%;
	height:30px;
	background:#2F4F4F;
	overflow:hidden; 
}
.happyname
{
	font-size:18px;
	float:left;
	margin-left:5px;
	margin-top:2px;;
	color:white;
}
.happycontent
{
	width:100%;
	min-height:200px;
	background:#CDCDB4;
	overflow:hidden; 
}
.happytext
{
	width:380px;
	min-height:150px;
	float:left;
}
.happyimg
{
	width:396px;
	min-height:150px;
	float:left;
	border-left:4px solid #4F4F4F;
}
.imgtitle
{
	width:280px;
	height:350px;
	float:left;
	margin-left:10%;
}
*html .imgtitle
{
	width:200px;
	height:300px;
	float:left;
    position:absolute;
	margin-left:10%;
}*/
#bottomlayer 
{
	width:100%;
	min-height:80px;
	height:auto;
	float:left;
	position:relative;
	/*border:4px solid #4F4F4F;*/
	background:url("../images/topbg.jpg");
}
.bottomdiv
{
	width:900px;
	margin: 0 auto;
	position:relative;
	min-height:80px;
	height:auto;
}
.emaildiv
{
	width:200px;
	height:30px;
	margin-left:3%;
    margin-top:10px;
	float:left;
	position:relative;
}
.mottobottomdiv
{
	width:800px;
	height:30px;
	margin-top:20px;
	margin-left:50px;
	float:left;
	display:block;
	position:relative;
	background:url("../images/mottobottom.jpg");
}
.bottomdiv p
{
	color:white;
	font-size:16px;
}
.article
{
	width:98%;
	min-height:100px;
	text-align:left;
	position:relative;
	font-size:14px;
	line-height:2;
}
