body
{
	background:#607B8B;
	background-repeat:repeat-y;
	clear:both;
}

.main_style
{
	width:800px;
	min-height:700px;
	margin:auto;
	/*background:#FFA500;*/
	position:relative;
	opacity:0.8;
}
div#navlayer
{
	width:100%;
	height:110px;
	/*margin:auto;*/
	/*background:#FAFAFA;*/
}
.prsphoto
{
	width:60px;
	height:60px;
	background:url("../images/photo.jpg");
	position:absolute;
	/*margin-left:3%;
	margin-top:1%;
	float:left;*/
	margin-top:4%;
	left:5%;
	border:5px solid #8B5A00;
}
.usernamediv
{
	width:13%;
	height:10%;
	/*background:blue;*/
	/*float:left;*/
	position:absolute;
	top:2%;
	left:15%;
}
.username
{
	font-size:20px;
	margin-top:3%;
	color:#BFEFFF;
}
.navbar
{
	width:40%;
	height:60px;
	/*background:#AEEEEE;*/
	float:right;
	margin-top:20px;
	
}
.homebtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
	background:url("../images/home.png");
}
.blogbtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
	background:url("../images/blog.png");
}
.happybtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
	background:url("../images/happy.png");
}
.photobtn
{
	width:60px;
	height:60px;
	float:left;
	margin-left:20px;
	background:url("../images/photobtn.png");
}
.navbottom
{
	width:100%;
	height:30px;
	float:left;
	background:#666666;
	margin-top:5px;
	border:3px solid #555555;
}
/*div#navlayer p
{
	position:absolute;
	font-size:20px;
	margin-left:30%;
	color:red;
}*/
div#photolayer
{
	width:100%;
	min-height:300px;
	/*margin:auto;*/
	/*background:#7A7A7A;*/
	margin-top:10px;
}
.photoleft
{
	width:100px;
	height:300px;
	float:left;
	background:url("../images/side.jpg");
}
.photomid
{
	width:600px;
	height:280px;
	float:left;
	border-top:10px solid #483D8B;
	border-bottom:10px solid #483D8B;
	background:url("../images/middle.jpg");
}
.photoright
{
	width:100px;
	height:300px;
	float:left;
	background:url("../images/side.jpg");
}
div#bloglayer
{
	width:100%;
	min-height:300px;
	/*margin:auto;*/
	background:#ff0033;
	margin-top:10px;
	overflow:hidden; 
}
.bloglist
{
	width:100%;
	height:30px;
	background:#3B3B3B;
	overflow:hidden; 
}
.listname
{
	font-size:18px;
	float:left;
	margin-left:5px;
	margin-top:2px;;
	color:white;
}
.blogcontent
{
	width:100%;
	min-height:200px;
	background:#E5E5E5;
	/*position:absolute;*/
	overflow:hidden; 
	/*zoom:1;*/
}
.oneblog
{
	width:100%;
	min-height:300px;
}
.blogtitle
{
	width:100%;
	height:20px;
	/*float:left;*/
	text-align:center;
	margin-top:3%;
	margin-bottom:3%;
}
.titlecontent
{
	font-size:18px;
	color:#919191;
}
.blogline
{
	width:100%;
	min-height:20px;
	/*float:left;*/
	text-align:center;
}
.linecontent
{
	font-size:14px;
}
div#happylayer
{
	width:100%;
	min-height:200px;
	/*margin:auto;*/
	background:#00F5FF;
	margin-top:10px;
	overflow:hidden; 
}
.happylist
{
	width:100%;
	height:30px;
	background:#2F4F4F;
	overflow:hidden; 
}
.happyname
{
	font-size:18px;
	float:left;
	margin-left:5px;
	margin-top:2px;;
	color:white;
}
.happycontent
{
	width:100%;
	min-height:200px;
	background:#CDCDB4;
	overflow:hidden; 
	/*zoom:1;*/
}
.happytext
{
	width:400px;
	min-height:150px;
	float:left;
}
.happyimg
{
	width:396px;
	min-height:150px;
	float:left;
	border-left:4px solid #4F4F4F;
}
imgtitle
{
	width:300px;
	height:300px;
}
div#bottomlayer 
{
	width:100%;
	min-height:25px;
	margin:auto;
	/*background:#000080;*/
	margin-top:10px;
}
.bottominfo
{
	width:100%;
	min-height:25px;
	margin:auto;
	background:#7AC5CD;
}
.email
{
	color:white;
	font-size:14px;
	float:left;
	margin-top:2px;
}